*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-weight: 300;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.text-yellow {
  color: #ffcc00;
}

.hidden {
  display: none;
  visibility: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header */

header {
  background: url("/images/space.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  /* padding-top: 5em; */
}

/* navbar */

nav {
  height: 4em;
  display: grid;
  grid-template: 100%/ 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: transparent;
}

nav a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 300;
}

.logo {
  font-size: 1.5rem;
}

.nav-link {
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #ffcc00;
  transition: all 300ms ease-in-out;
}

.nav-link:hover {
  color: #ffcc00;
}

.nav-link:hover::before {
  width: 100%;
}

/* carousel */

.carousel {
  height: 100vh;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 100% / repeat(2, 1fr);
  place-items: center;
  display: none;
}

.prev,
.next {
  position: absolute;
  font-size: 1.65rem;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0.5em;
  z-index: 10;
  background-color: #121212;
}

.prev {
  left: 1em;
}

.next {
  right: 1em;
}

.description {
  color: #fff;
  width: 75%;
  justify-self: end;
}

.slideUp {
  animation: slideUp 1s ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    margin-top: 6em;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.sub-title {
  font-style: italic;
}

.content {
  margin-top: 1.5em;
}

.learn-more-btn {
  background: transparent;
  border: 0.15em solid #ffcc00;
  font-size: 1.25rem;
  color: #000;
  padding: 0.5em 1em;
  margin-top: 1em;
  border-radius: 1.875rem;
  font-weight: 700;
  box-shadow: 300px 0 300px #ffcc00 inset;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

.learn-more-btn:hover {
  box-shadow: 0 0 0 #ffcc00 inset;
  color: #ffcc00;
}

.stage {
  width: 600px;
  height: 600px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  align-self: end;
}

/* planets */

.planet {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
}

.planet:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 0px,
    #ffffff,
    rgba(255, 255, 255, 0) 30%
  );
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index: 2;
  animation: reveal 1.5s linear 1;
}

@keyframes reveal {
  0%,
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.venus {
  background: url("/images/venus.png") no-repeat;
  background-size: 100%;
  box-shadow: 0 -8px 15px rgba(199, 152, 113, 0.5), -50px -50px 50px #000 inset,
    0 10px 15px #000;
  animation: rotate 1.5s ease-in 1, shadowVenus 1.5s linear 1;
}

.mercury {
  background: url("/images/mercury.png") no-repeat;
  background-size: 100%;
  box-shadow: 0 -10px 15px rgba(117, 66, 25, 0.5), -50px -50px 50px #000 inset,
    0 10px 15px #000;
  animation: rotate 1.5s ease-in 1, shadowMercury 1.5s linear 1;
}

.earth {
  background: url("/images/earth.png") no-repeat;
  background-size: 100%;
  box-shadow: 0 -10px 15px rgba(94, 136, 190, 0.5), -50px -50px 50px #000 inset,
    0 10px 15px #000;
  animation: rotate 1.5s ease-in 1, shadowEarth 1.5s linear 1;
}

.mars {
  background: url("/images/mars.png") no-repeat;
  background-size: 100%;
  box-shadow: -3px -10px 15px rgba(238, 75, 43, 0.7),
    -50px -50px 50px #000 inset, 0 10px 15px #000;
  animation: rotate 1.5s ease-in 1, shadowMars 1.5s linear 1;
}

.jupiter {
  background: url("/images/jupiter.png") no-repeat;
  background-size: 100%;
  box-shadow: 0 -8px 15px rgba(199, 152, 113, 0.5), -50px -50px 50px #000 inset,
    0 10px 15px #000;
  animation: rotate 1.5s ease-in 1, shadowVenus 1.5s linear 1;
}

.saturn {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  background: url("/images/saturn.png") no-repeat;
  background-size: 100%;
  animation: rotate 1.5s ease-in 1;
}

.uranus {
  background: url("/images/uranus.png") no-repeat;
  background-size: 100%;
  box-shadow: 0 -10px 15px rgba(94, 136, 190, 0.5), -50px -50px 50px #000 inset,
    0 10px 15px #000;
  animation: rotate 1.5s ease-in 1, shadowEarth 1.5s linear 1;
}

.neptune {
  background: url("/images/neptune.png") no-repeat;
  background-size: 100%;
  box-shadow: 0 -10px 15px rgba(94, 136, 190, 0.5), -50px -50px 50px #000 inset,
    0 10px 15px #000;
  animation: rotate 1.5s ease-in 1, shadowEarth 1.5s linear 1;
}

@keyframes rotate {
  0% {
    background-position: 50% 50%;
    background-size: 50%;
  }

  100% {
    background-position: 0% 0%;
    background-size: 100%;
  }
}

@keyframes shadowMercury {
  0%,
  90% {
    box-shadow: none;
  }

  100% {
    box-shadow: 0 -10px 15px rgba(117, 66, 25, 0.5), -50px -50px 50px #000 inset,
      0 10px 15px #000;
  }
}

@keyframes shadowVenus {
  0%,
  90% {
    box-shadow: none;
  }

  100% {
    box-shadow: 0 -8px 15px rgba(199, 152, 113, 0.5),
      -50px -50px 50px #000 inset, 0 10px 15px #000;
  }
}

@keyframes shadowEarth {
  0%,
  90% {
    box-shadow: none;
  }

  100% {
    box-shadow: 0 -10px 15px rgba(94, 136, 190, 0.5),
      -50px -50px 50px #000 inset, 0 10px 15px #000;
  }
}

@keyframes shadowMars {
  0%,
  90% {
    box-shadow: none;
  }

  100% {
    box-shadow: -3px -15px 15px rgba(238, 75, 43, 0.7),
      -50px -50px 50px #000 inset, 0 10px 15px #000;
  }
}

/* planet-information */

.planet-info {
  color: #fff;
  background: url("/images/space2.jpg") no-repeat;
  background-size: cover;
  display: none;
}

#mercury-info,
#venus-info,
#earth-info {
  scroll-margin-top: 3em;
}

.planet-info-grid {
  display: grid;
  grid-template: repeat(8, 400px) / repeat(2, 1fr);
}

.facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.fact-count {
  font-size: 1.5rem;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 2px solid #ffcc00;
  background-color: transparent;
  display: grid;
  place-items: center;
  margin-bottom: 0.5em;
  color: #ffcc00;
}

.facts h4 {
  color: #ffcc00;
}

#mercury-info p,
#venus-info p,
#earth-info p {
  width: 55%;
  text-align: center;
  line-height: 1.25em;
  margin-top: 1em;
}

.fact-image {
  position: relative;
}

img {
  position: absolute;
  height: 90%;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Planet Metric */

.planet-metric {
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template: repeat(2, 265px) / repeat(4, 1fr);
  grid-gap: 5em;
  margin: 5em 0;
}

.planet-card {
  /* background-color: red; */
  display: grid;
  grid-template: repeat(2, 1fr) / 100%;
  padding: 0 1.5em;
}

.planet-icon {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  border: 0.2em solid #ffcc00e8;
  justify-self: center;
  align-self: center;
  position: relative;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.saturn-icon:before {
  content: "";
  position: absolute;
  width: 170%;
  height: 30%;
  border-radius: inherit;
  border: 0.1em solid #ffcc006c;
}

.metrics {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  place-items: center;
}

.metrics h5 {
  color: #ffcc00e8;
  font-size: 0.85rem;
  font-weight: 300;
}

.metrics p {
  text-align: center;
  color: #fff;
  font-size: 0.85rem;
  margin-top: 0.25em;
}

.planet-letter {
  position: absolute;
  height: 50%;
  width: 1em;
  bottom: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  transform-origin: top;
  color: #ffcc00;
  transition: all 500ms ease-in-out;
  z-index: 3;
}

/* planet name - rotation */

.seven-letter:nth-child(1) {
  transform: rotate(70deg);
}

.seven-letter:nth-child(2),
.five-letter:nth-child(1),
.six-letter:nth-child(1) {
  transform: rotate(50deg);
}

.seven-letter:nth-child(3),
.five-letter:nth-child(2),
.four-letter:nth-child(1),
.six-letter:nth-child(2) {
  transform: rotate(30deg);
}

.seven-letter:nth-child(4),
.five-letter:nth-child(3),
.four-letter:nth-child(2),
.six-letter:nth-child(3) {
  transform: rotate(10deg);
}

.seven-letter:nth-child(5),
.five-letter:nth-child(4),
.four-letter:nth-child(3),
.six-letter:nth-child(4) {
  transform: rotate(-10deg);
}

.seven-letter:nth-child(6),
.five-letter:nth-child(5),
.four-letter:nth-child(4),
.six-letter:nth-child(5) {
  transform: rotate(-30deg);
}

.seven-letter:nth-child(7),
.six-letter:nth-child(6) {
  transform: rotate(-50deg);
}

/* planet name hover effect */

.planet-icon:hover .seven-letter:nth-child(1) {
  transform: rotate(100deg);
}

.planet-icon:hover .seven-letter:nth-child(2),
.planet-icon:hover .five-letter:nth-child(1),
.planet-icon:hover .six-letter:nth-child(1) {
  transform: rotate(80deg);
}

.planet-icon:hover .seven-letter:nth-child(3),
.planet-icon:hover .five-letter:nth-child(2),
.planet-icon:hover .four-letter:nth-child(1),
.planet-icon:hover .six-letter:nth-child(2) {
  transform: rotate(60deg);
}

.planet-icon:hover .seven-letter:nth-child(4),
.planet-icon:hover .five-letter:nth-child(3),
.planet-icon:hover .four-letter:nth-child(2),
.planet-icon:hover .six-letter:nth-child(3) {
  transform: rotate(40deg);
}

.planet-icon:hover .seven-letter:nth-child(5),
.planet-icon:hover .five-letter:nth-child(4),
.planet-icon:hover .four-letter:nth-child(3),
.planet-icon:hover .six-letter:nth-child(4) {
  transform: rotate(20deg);
}

.planet-icon:hover .seven-letter:nth-child(6),
.planet-icon:hover .five-letter:nth-child(5),
.planet-icon:hover .four-letter:nth-child(4),
.planet-icon:hover .six-letter:nth-child(5) {
  transform: rotate(0deg);
}

.planet-icon:hover .seven-letter:nth-child(7),
.planet-icon:hover .six-letter:nth-child(6) {
  transform: rotate(-20deg);
}

/* solar system */

.solar-system-container {
  height: 90vh;
  border: 2px solid red;
  padding: 1em 0;
}

.solar-system {
  /* border: 1px solid #fff; */
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 1em;
}

.solar-side-card {
  position: absolute;
  right: -50%;
  width: 40%;
  height: 100%;
  background: rgba(8, 8, 8, 0.8);
  z-index: 5;
  transition: all 750ms ease-in-out;
}

.solar-side-info {
  padding: 0 2em;
  position: absolute;
}

.solar-header-container,
.side-points {
  display: grid;
  grid-template: 6em/ 4em auto;
}

.solar-side-info h3 {
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
}

.close-button {
  font-size: 1.5rem;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #fff;
  display: grid;
  place-items: center;
  margin-bottom: 0.5em;
  color: #333;
  box-shadow: 0 0 5px #aaa;
  z-index: 2;
  cursor: pointer;
}

.side-points {
  margin: 0.5em 0;
}

.side-points p {
  color: #fff;
}

.side-points .fact-count {
  position: relative;
  background-color: #000;
  z-index: 2;
}

.side-points .fact-count::before {
  content: "";
  position: absolute;
  width: 0.1em;
  height: 130%;
  background-color: #ffcc00;
  z-index: -1;
  top: -130%;
}

.orbit-lines {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #333;
  left: -10em;
  top: 50%;
  transform: translateY(-50%);
}

.mercury-line {
  width: 33.75%;
  height: 32%;
}

.venus-line {
  width: 41.5%;
  height: 44%;
}

.earth-line {
  width: 50%;
  height: 50%;
}

.mars-line {
  width: 58.5%;
  height: 60%;
}

.jupiter-line {
  width: 70%;
  height: 70%;
}

.saturn-line {
  width: 82%;
  height: 80%;
}

.uranus-line {
  width: 93.5%;
  height: 90%;
}

.neptune-line {
  width: 103.5%;
  height: 100%;
}

.solar-sun,
.solar-mercury,
.solar-venus,
.solar-earth,
.solar-mars,
.solar-jupiter,
.solar-saturn,
.solar-uranus,
.solar-neptune {
  position: relative;
  cursor: pointer;
}

.solar-sun {
  width: 180px;
  height: 180px;
}

.solar-mercury {
  width: 30px;
  height: 30px;
}

.solar-venus {
  width: 45px;
  height: 45px;
}

.solar-earth {
  width: 60px;
  height: 60px;
}

.solar-mars {
  width: 55px;
  height: 55px;
}

.solar-jupiter {
  width: 120px;
  height: 120px;
}

.solar-saturn {
  width: 110px;
  height: 110px;
}

.solar-uranus {
  width: 80px;
  height: 80px;
}

.solar-neptune {
  width: 70px;
  height: 70px;
}
